# Ejercicios Pandas Series

In [2]:
# Importa el paquete numpy con el nombre np
import numpy as np

# Importa el paquete pandas con el nombre pd
import pandas as pd

# Imprime la versión de pandas y la configuración
print(pd.__version__)
print(pd.show_versions())

2.2.2

INSTALLED VERSIONS
------------------
commit                : d9cdd2ee5a58015ef6f4d15c7226110c9aab8140
python                : 3.12.4.final.0
python-bits           : 64
OS                    : Linux
OS-release            : 6.8.0-39-generic
Version               : #39-Ubuntu SMP PREEMPT_DYNAMIC Fri Jul  5 21:49:14 UTC 2024
machine               : x86_64
processor             : x86_64
byteorder             : little
LC_ALL                : None
LANG                  : es_ES.UTF-8
LOCALE                : es_ES.UTF-8

pandas                : 2.2.2
numpy                 : 1.26.4
pytz                  : 2024.1
dateutil              : 2.9.0.post0
setuptools            : 69.5.1
pip                   : 24.0
Cython                : None
pytest                : None
hypothesis            : None
sphinx                : None
blosc                 : None
feather               : None
xlsxwriter            : None
lxml.etree            : None
html5lib              : None
pymysql               : None
psycopg2              : None
jinja2                : 3.1.4
IPython               : 8.25.0
pandas_datareader     : None
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.12.3
bottleneck            : 1.3.7
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
gcsfs                 : None
matplotlib            : None
numba                 : None
numexpr               : 2.8.7
odfpy                 : None
openpyxl              : None
pandas_gbq            : None
pyarrow               : None
pyreadstat            : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : None
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
zstandard             : None
tzdata                : 2023.3
qtpy                  : None
pyqt5                 : None
None

##  (a) Creando una `Series`

### 1) Crear una serie pandas vacía

In [3]:
# your code goes here
miserie = pd.Series(dtype='float64')

In [4]:
miserie

Series([], dtype: object)

### 2) Dada la lista X de Python conviértala en una serie Y de Pandas

In [27]:
# your code goes here
x = [1, 2, 3.5, 4, 5.7, 6, 7.1, 8, 9, 0]
y = pd.Series(x)

In [14]:
y

0    1.0
1    2.0
2    3.5
3    4.0
4    5.7
5    6.0
6    7.1
7    8.0
8    9.0
9    0.0
dtype: float64

### 3) Dada la serie X pandas, nómbrala 'My letters'.

In [28]:
# your code goes here
x = pd.Series(['alfa', 'beta', 'gamma', 'delta', 'epsilon'], name='My letters')

In [29]:
x

0       alfa
1       beta
2      gamma
3      delta
4    epsilon
Name: My letters, dtype: object

### 4) Dada la serie X de pandas, muestre sus valores

In [31]:
# your code goes here
# Forma A
print(x.to_list())

['alfa', 'beta', 'gamma', 'delta', 'epsilon']

In [32]:
# Forma B
print(x.values)

['alfa' 'beta' 'gamma' 'delta' 'epsilon']

## (b) Indexación de Series

### 5) Asignar nombres de índice a las Series X  de pandas dadas

In [40]:
# your code goes here
flotantes = pd.Series([10.2, 66.2, 5.2, 92.42, 36.11, 0.13], index=['a', 'b', 'c', 'd', 'e', 'f'])

In [41]:
flotantes

a    10.20
b    66.20
c     5.20
d    92.42
e    36.11
f     0.13
dtype: float64

### 6) Dada la serie X de pandas, muestre su primer elemento

In [45]:
# your code goes here
flotantes.head(1)

a    10.2
dtype: float64

### 7) Dada la serie X de pandas, muestra su último elemento

In [43]:
# your code goes here
flotantes.tail(1)

f    0.13
dtype: float64

### 8) Dada la serie X pandas, mostrar todos los elementos centrales

In [46]:
# your code goes here
valores_centrales = flotantes[2:4]

In [47]:
valores_centrales

c     5.20
d    92.42
dtype: float64

### 9) Dada la serie X de pandas, muestre los elementos en posición inversa

In [51]:
# your code goes here
floats_inv = flotantes[::-1]

In [52]:
floats_inv

f     0.13
e    36.11
d    92.42
c     5.20
b    66.20
a    10.20
dtype: float64

### 10) Dada la serie X de pandas, muestre el primer y el último elemento

In [63]:
# your code goes here
print("Primer elemento Serie: ", flotantes.iloc[0])

Primer elemento Serie:  10.2

In [62]:
print("Último elemento Serie: ", flotantes.iloc[-1])

Último elemento Serie:  0.13

## (c) 'Manipulanción' de `Series`

### 11) Convierte la serie pandas entera dada a float

In [134]:
# your code goes here
enteros = pd.Series([0, 1, 100, 2, 55, 3, 4, 91, 5, 6, 7, 39, 8, 71, 9], dtype=int)
enteros

0       0
1       1
2     100
3       2
4      55
5       3
6       4
7      91
8       5
9       6
10      7
11     39
12      8
13     71
14      9
dtype: int64

In [135]:
flotantes = enteros.astype(float)
flotantes

0       0.0
1       1.0
2     100.0
3       2.0
4      55.0
5       3.0
6       4.0
7      91.0
8       5.0
9       6.0
10      7.0
11     39.0
12      8.0
13     71.0
14      9.0
dtype: float64

### 12) Invierte la serie de pandas dada (el primer elemento se convierte en el último)

In [136]:
# your code goes here
invertida = pd.Series(enteros[::-1])
invertida = invertida.reset_index(drop=True)

In [73]:
invertida

0       9
1      71
2       8
3      39
4       7
5       6
6       5
7      91
8       4
9       3
10     55
11      2
12    100
13      1
14      0
dtype: int64

### 13) Ordenar (sort) las series de pandas dadas

In [137]:
# your code goes here
ordenada = enteros.sort_values()

In [138]:
ordenada

0       0
1       1
3       2
5       3
6       4
8       5
9       6
10      7
12      8
14      9
11     39
4      55
13     71
7      91
2     100
dtype: int64

### 14) Dada la serie X de pandas, establece (set) el quinto elemento igual a 10

In [139]:
# your code goes here
enteros

0       0
1       1
2     100
3       2
4      55
5       3
6       4
7      91
8       5
9       6
10      7
11     39
12      8
13     71
14      9
dtype: int64

In [140]:
# 5º elemento -> índice 4
enteros[4] = 10
enteros

0       0
1       1
2     100
3       2
4      10
5       3
6       4
7      91
8       5
9       6
10      7
11     39
12      8
13     71
14      9
dtype: int64

### 15) Dada la serie X de pandas, cambia todos los elementos del medio (centrales) a 0

In [141]:
# your code goes here
enteros

0       0
1       1
2     100
3       2
4      10
5       3
6       4
7      91
8       5
9       6
10      7
11     39
12      8
13     71
14      9
dtype: int64

In [142]:
# He considerado elementos centrales a los índices 6, 7 y 8
enteros[6:9] = 0
enteros

0       0
1       1
2     100
3       2
4      10
5       3
6       0
7       0
8       0
9       6
10      7
11     39
12      8
13     71
14      9
dtype: int64

### 16) Dada la serie X de pandas, suma 5 a cada elemento

In [143]:
# your code goes here
enteros

0       0
1       1
2     100
3       2
4      10
5       3
6       0
7       0
8       0
9       6
10      7
11     39
12      8
13     71
14      9
dtype: int64

In [144]:
enteros_mas_cinco = enteros + 5
enteros_mas_cinco

0       5
1       6
2     105
3       7
4      15
5       8
6       5
7       5
8       5
9      11
10     12
11     44
12     13
13     76
14     14
dtype: int64

## (d) `Series` de tipo 'Boolean Arrays' (también llamadas mask)

### 17) Dada la serie X de pandas, haz una máscara (mask) que muestre los elementos negativos

In [145]:
# your code goes here
enteros[3] = -7
enteros[5] = -200
enteros[6] = -2
enteros[8] = -5
enteros[12] = -13

In [146]:
enteros

0       0
1       1
2     100
3      -7
4      10
5    -200
6      -2
7       0
8      -5
9       6
10      7
11     39
12    -13
13     71
14      9
dtype: int64

In [155]:
negativos = pd.Series(dtype=int)
# Convertimos los elementos positivos en 'NaN'
negativos = enteros.mask(enteros >= 0)
# Borrado de los elementos 'NaN' e impresión del resto
print(negativos.dropna())

3      -7.0
5    -200.0
6      -2.0
8      -5.0
12    -13.0
dtype: float64

### 18) Dada la serie X de pandas, obtener los elementos negativos

In [156]:
# your code goes here
enteros

0       0
1       1
2     100
3      -7
4      10
5    -200
6      -2
7       0
8      -5
9       6
10      7
11     39
12    -13
13     71
14      9
dtype: int64

In [157]:
mascara = enteros < 0
negativos = enteros[mascara]
negativos

3      -7
5    -200
6      -2
8      -5
12    -13
dtype: int64

### 19) Dada la serie X pandas, obtener números superiores a 5

In [158]:
# your code goes here
enteros

0       0
1       1
2     100
3      -7
4      10
5    -200
6      -2
7       0
8      -5
9       6
10      7
11     39
12    -13
13     71
14      9
dtype: int64

In [159]:
mayores_cinco = enteros.where(enteros > 5)
mayores_cinco.dropna()

2     100.0
4      10.0
9       6.0
10      7.0
11     39.0
13     71.0
14      9.0
dtype: float64

### 20) Dada la serie X pandas, obtener números superiores a la media de los elementos

In [160]:
# your code goes here
enteros

0       0
1       1
2     100
3      -7
4      10
5    -200
6      -2
7       0
8      -5
9       6
10      7
11     39
12    -13
13     71
14      9
dtype: int64

In [161]:
media = enteros.mean()
media

1.0666666666666667

In [162]:
superiores_media = enteros[enteros > media]
superiores_media

2     100
4      10
9       6
10      7
11     39
13     71
14      9
dtype: int64

### 21) Dada la serie X pandas, obtener números iguales a 2 o 10

In [163]:
# your code goes here
enteros[9] = 2
enteros[1] = 10
enteros[5] = 2
enteros

0       0
1      10
2     100
3      -7
4      10
5       2
6      -2
7       0
8      -5
9       2
10      7
11     39
12    -13
13     71
14      9
dtype: int64

In [164]:
nums_buscados = enteros[enteros.isin([2, 10])]
nums_buscados

1    10
4    10
5     2
9     2
dtype: int64

##  (e) Funciones de tipo 'Logic'

### 22) Dada la serie X de pandas, devuelve True si ninguno de sus elementos es cero

In [168]:
# your code goes here
enteros[0] = 1
enteros[7] = 1
enteros

0       1
1      10
2     100
3      -7
4      10
5       2
6      -2
7       1
8      -5
9       2
10      7
11     39
12    -13
13     71
14      9
dtype: int64

In [170]:
print((enteros != 0).any())

True

### 23) Dada la serie X de pandas, devuelve True si alguno de sus elementos es cero

In [172]:
# your code goes here
enteros[5] = 0
enteros

0       1
1      10
2     100
3      -7
4      10
5       0
6      -2
7       1
8      -5
9       2
10      7
11     39
12    -13
13     71
14      9
dtype: int64

In [173]:
print((enteros == 0).any())

True

## (f) Algunas funciones estadísticas

### 24) Dada la serie X de pandas, muestra la suma de sus elementos

In [182]:
# your code goes here
enteros

0       1
1      10
2     100
3      -7
4      10
5       0
6      -2
7       1
8      -5
9       2
10      7
11     39
12    -13
13     71
14      9
dtype: int64

In [187]:
suma_serie = enteros.cumsum()
suma_serie

0       1
1      11
2     111
3     104
4     114
5     114
6     112
7     113
8     108
9     110
10    117
11    156
12    143
13    214
14    223
dtype: int64

### 25) Dada la serie X de pandas, muestre el valor medio de sus elementos

In [174]:
# your code goes here
enteros

0       1
1      10
2     100
3      -7
4      10
5       0
6      -2
7       1
8      -5
9       2
10      7
11     39
12    -13
13     71
14      9
dtype: int64

In [178]:
valor_medio = enteros.mean()
valor_medio.round(3)

14.867

### 26) Dada la serie X de pandas, muestre el valor máximo de sus elementos

In [180]:
# your code goes here
enteros

0       1
1      10
2     100
3      -7
4      10
5       0
6      -2
7       1
8      -5
9       2
10      7
11     39
12    -13
13     71
14      9
dtype: int64

In [181]:
max = enteros.max()
max

100