### TEMA 7 
### PANDAS

In [33]:
#!pip install numpy
#!pip install pandas

In [34]:

#import numpy as np
#import pandas as pd

In [35]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'], index=[1,7,10,30])

In [36]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [37]:
ingredientes = pd.Series(['Jamón', 'Aceitunas', 'Pan', 'Queso'])

In [38]:
ingredientes

0        Jamón
1    Aceitunas
2          Pan
3        Queso
dtype: object

Vamos a usar esta vez diccionarios

In [39]:
dict = {1: 'Navas', 7: 'Mbappe', 10:'Neymar', 30: 'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

¿Que pasa si quiero definir un array con mas valores?

In [40]:
dict_1 = {'Jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
'Altura':[183.0, 170.0, 185.0, 165.0],
'Goles': [2, 150,180,200]}

In [41]:
pd.DataFrame(dict_1, index=[1,7,10,30])

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    150
10  Neymar   185.0    180
30   Messi   165.0    200

Sin definir índices

In [42]:
pd.DataFrame(dict_1)

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    150
2  Neymar   185.0    180
3   Messi   165.0    200

In [43]:
df_Players = pd.DataFrame(dict_1)

In [44]:
df_Players

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    150
2  Neymar   185.0    180
3   Messi   165.0    200

In [45]:
df_Players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [46]:
df_Players.index

RangeIndex(start=0, stop=4, step=1)

In [47]:
df_Players

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    150
2  Neymar   185.0    180
3   Messi   165.0    200

Si tienes datos contenidos en un diccionario de Python,
puedes crear una Series a partir de ellos pasándole el
diccionario:

In [48]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

Una Series puede convertirse de nuevo en un diccionario
con su método to_dict:

In [49]:
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

Cuando sólo se pasa un diccionario, el índice de la Series
resultante respetará el orden de las claves según el método
keys del diccionario, que depende del orden de inserción de
las claves.

Puede anular esto pasando un índice con las claves del
diccionario en el orden en que desea que aparezcan en la
Series resultante:

In [50]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
states = ["California", "Ohio", "Oregon", "Texas"]
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

Aquí, tres valores encontrados en sdata se colocaron en los
lugares apropiados, pero como no se encontró ningún valor
para "California", aparece como NaN (Not a Number), que se
considera en pandas para marcar valores perdidos o NA.
Como "Utah" no se incluyó en estados, se excluye del objeto
resultante.

Utilizaremos los términos "missing", "NA" (Not Available) o
"null" indistintamente para referirnos a los datos que faltan.
Las funciones isna y notna de pandas deben utilizarse para
detectar datos omitidos:

In [51]:
pd.isna(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [52]:
pd.notna(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

Series también los tiene como métodos de instancia:

In [53]:
obj4.isna()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

Mas detalles sobre limpieza y depuración se verá mas
adelante.
Una característica de Series útil para muchas aplicaciones es
que alinea automáticamente por etiqueta de índice en
operaciones aritméticas:

In [54]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [55]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [56]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

Tanto el propio objeto Series como su índice tienen un
atributo name , que se integra con otras áreas de
funcionalidad de pandas:

In [57]:
obj4.name = "population"

In [58]:
obj4.index.name = "state"
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

El índice de una Series puede modificarse "in situ" mediante
asignación:

Definamos el siguiente obj:

In [59]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

Asignamos "in situ" los indices:

In [60]:
obj.index = ["Bob", "Steve", "Jeff", "Ryan"]
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

Asignamos "in situ" los indices:

In [61]:
obj.index = ["Bob", "Steve", "Jeff", "Ryan"]
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64